<footer class="clear">
	<nav class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6 gobiernoLinea">
		<a href="http://www.legal.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_legalregime')}</a>
		<a href="http://personal.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_humantalent')}</a>
		<a href="http://contratacion.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_booking')}</a>
		<a href="http://personal.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_jobofferings')}</a>
		<a href="http://rendiciondecuentas.unal.edu.co/" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_accountability')}</a>
		<a href="http://docentes.unal.edu.co/concurso-profesoral/" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_teachingcontest')}</a>
		<a href="http://www.pagovirtual.unal.edu.co/" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_virtualpayment')}</a>
		<a href="http://controlinterno.unal.edu.co/" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_internalcontrolling')}</a>
		<a href="http://siga.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_quality')}</a>
		<a href="http://unal.edu.co/buzon-de-notificaciones/" target="_self">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_notificationsmailbox')}</a>
	</nav>
	<nav class="col-md-3 col-lg-3 col-sm-3 col-xs-4 col-xxs-6 gobiernoLinea">
		<a href="http://correo.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_institutionalemail')}</a>
		<f:link.page pageUid="{unalsd_sitemapLinkUid}">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_sitemap')}</f:link.page>
		<a href="http://redessociales.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_socialnetworks')}</a>
		<f:link.page pageUid="{unalsd_faqLinkUid}">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_faq')}</f:link.page>
		<a href="http://unal.edu.co/quejas-y-reclamos/" target="_self">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_claimsandsuggestions')}</a>
		<a href="http://unal.edu.co/atencion-en-linea/" target="_self">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_onlineattentionservices')}</a>
		<a href="http://unal.edu.co/encuesta/" target="_self">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_survey')}</a>
		<f:link.page pageUid="{unalsd_contactLinkUid}">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_contact')}</f:link.page>
		<a href="http://www.onp.unal.edu.co" target="_top">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_statistics')}</a>
		<f:link.page pageUid="{unalsd_glosaryLinkUid}">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_glossary')}</f:link.page>
	</nav>
	<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xxs-12 footer-info">
		<p class="col-sm-12 col-md-6 contacto">
			<b>{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_webpagecontact')}:</b><br/>{unalsd_contactAddress}<br/>{unalsd_contactBuilding}<br/>{unalsd_contactCity}<br/>{unalsd_contactPhone}
		</p>
		<p class="col-sm-12 col-md-6 derechos">
			&copy; Copyright 2014<br/> {f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_somerightsreserved')}.<br/>
			<a title="{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_webmastercontact')}" href="mailto:{unalsd_contactEmailAccount}@unal.edu.co">{unalsd_contactEmailAccount}@unal.edu.co</a><br/>
		<f:link.page pageUid="{unalsd_aboutLinkUid}">{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_aboutthiswebsite')}</f:link.page><br/>
		{f:translate(extensionName:'unal_skin_default', key:'tx_unal_skin_default_lastupdate')}: {unalsd_lastUpdateDate}
		</p>
	</div>

	<div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 logos">
		<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
			<a class="col-xs-6 col-sm-12" href="http://www.orgulloun.unal.edu.co">
				<f:image class="hidden-print" alt="Orgullo UN" src="EXT:unal_skin_default/Resources/Public/images/log_orgullo.png" width="94" height="37" />
				<f:image class="visible-print" alt="Orgullo UN" src="EXT:unal_skin_default/Resources/Public/images/log_orgullo_black.png" width="94" height="37" />
			</a>

			<a class="col-xs-6 col-sm-12 imgAgencia" href="http://www.agenciadenoticias.unal.edu.co/inicio.html">
				<f:image class="hidden-print" alt="Agencia de noticias" src="EXT:unal_skin_default/Resources/Public/images/log_agenc.png" width="94" height="37" />
				<f:image class="visible-print" alt="Agencia de noticias" src="EXT:unal_skin_default/Resources/Public/images/log_agenc_black.png" width="94" height="37" />
			</a>
		</div>
		<div class="col-xs-6 col-sm-12 col-md-6 no-padding">
			<a class="col-xs-6 col-sm-12" href="https://www.sivirtual.gov.co/memoficha-entidad/-/entidad/T0356">
				<f:image alt="Trámites en línea" src="EXT:unal_skin_default/Resources/Public/images/log_gobiern.png" width="94" height="37" />
			</a>

			<a class="col-xs-6 col-sm-12" href="http://www.contaduria.gov.co/">
				<f:image alt="Contaduría General de la República" src="EXT:unal_skin_default/Resources/Public/images/log_contra.png" width="94" height="37" />
			</a>
		</div>

	</div>
</footer>