@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/ancizar_sans-black-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
  @import "bootstrap";

  

  p {
    font-size: medium;

  }

  footer p {
    font-size: small;
  }
  .section {
    color: antiquewhite;
  }

  .subsection {
    font-size: medium;
  }

  .product h3 {
    font-size: large;
    font-weight: bold;
  }

  .product p {
    font-size: medium;
  }

  .product u {
    font-size: smaller;
  }
  .product h6 {
    font-size: medium;
    font-weight: bold;
  }

  .product place {
    font-size: smaller;
  }
 
  .product b {
    color: #3879b1;
  }

  .product .place {
    font-size: small;
  }