@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/ancizar_sans-black-webfont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  p {
    font-size: medium;
  }

  footer p {
    font-size: small;
  }
